doctype html
html
  head
    title Start
  body
    each article in articles
      article
        h1=article.title
        em=article.createdAt
        p=article.content
        br
        button(data-id=article.id data-type="delete") Löschen
        button(data-id=article.id data-type="update") Bearbeiten
      hr
    button#new Neu
  script(src="index.js")
